<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tutorial 3</title>
</head>
<body>
<h1>Request Parameter</h1>
		<p>
			<a href="#" th:href="@{/demo/100}">Part variables</a>
		</p>
		<p>
		<a href="#" th:href="@{/demo/query?name=jk&age=33}">Query Parameter</a>
		</p>
		<form th:action="@{demo/query}">
			<input type="text" name="name" placeholder="Enter your name" /><br />
			<input type="number" name="age" placeholder="Enter your age" /><br />
			<input type="submit" value="submit" />
		</form>
		<hr />
		<div th:if="${result !=null }">
			<h3>result</h3>
			<span th:text="${result}"></span>
		</div>
</body>
</html>